* { box-sizing: border-box;}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    display: flex;
}
.box-1{
    margin: 0 100px;
    color: rgb(174, 147, 147);
}

.box-2{
    margin: 0 200px;
    color: rgb(174, 147, 147);
}
.corporate {
    color: black;
}
.box-3{
    margin: 0 200px;
    color: rgb(174, 147, 147);
} 
.item{
    margin: 0px;
    padding: 0px;
    color: yellow;
}




